body{
  background-color: blueviolet;
  display: block;
  height: 900px;
}
#root{
  display: flex;
  align-items: center;
  height: 600px;
  justify-content: center;
}
.App {
  text-align: center;
  background-color: whitesmoke;
  width: 35%;
  height: 50%;
  box-shadow: 10px 20px 20px grey, -10px -15px 20px orange;
  border-radius: 15px;
}

